/* ==========================  general ================================= */
.action-icon a i {
    font-size: 20px;
    padding: 7px;
    border-radius: 5px;
    transition: 0.4s ease all;
}

.action-icon a i:hover {
    background-color: #ddd;
}

.swal2-cancel {
    margin-right: 15px;
}

.card {
    overflow: auto;
    border-radius: 10px;
    border: 1px solid #ddd;
    box-shadow: 0.3rem 0.7rem 0.3rem rgba(0, 0, 0, 0.15) !important;
}

/* ==========================  sidebar ================================= */

.sidebar-dark-primary .nav-sidebar > .nav-item > .nav-link.active,
.sidebar-light-primary .nav-sidebar > .nav-item > .nav-link.active {
    background-color: #546363;
    color: #fff;
}

/* ==========================  login blade ================================= */
#app-login {
    background-image: url("https://m.media-amazon.com/images/I/61eBvmR2L8L._SL1000_.jpg");
    background-size: cover;
    background-position: bottom;
}

#app-admin-login {
    background-image: url("https://d2gg9evh47fn9z.cloudfront.net/800px_COLOURBOX1954415.jpg");
    background-size: cover;
    background-position: bottom;
}
